.container_externo {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 2em;
}

.container_interno {
    padding: 2em;
    margin: 2em;
}

.texto {
    font-size: 25px;
    font-family: "Anton", sans-serif;
    color: #ffffff;
    -webkit-text-stroke: 2px #201f5be8;
}

h2.texto {
    font-size: 25px;
    font-family: "Anton", sans-serif;
    color: #ffffff;
    -webkit-text-stroke: 1px #201f5be8;
}

.texto-container {
    display: flex;
    justify-content: space-between;
}

.mensagem {
    width: 90%;
    margin-right: 2em;
}