<app-cabecalho></app-cabecalho>
<div class="container_externo">
    <div class="container_interno">
        <p class="texto">Nome do cliente: {{ reserva.nome_cliente }}</p>

        <div class="texto-container">
            <p class="texto">Pista reservada: {{ reserva.id_pista_reservada }}</p>
            <p class="texto">Contato Cliente: {{ reserva.wpp_cliente }}</p>
            <p class="texto" style="text-align: right;">Hora reservada: {{ reserva.hora_reservada }}</p>
            <p class="texto">Tempo restante:</p>
            <div>
                <p class="texto">{{ days }}d {{ hours }}h {{ minutes }}m {{ seconds }}s</p>
            </div>
        </div>
        <div class="chat">
            <form action="">
                <input type="text" placeholder="Fale com o cliente" class="mensagem" [(ngModel)]="message.body" [(ngModel)]="mensagem_enviada.mensagem" name="messageBody">
                <button type="button" class="botaoEnviar" (click)="enviarMensagem(message)">Enviar</button>
            </form>
        </div>
        <div *ngIf="mensagens_enviadas && mensagens_enviadas.length > 0">
            <h2 class="texto">Mensagens Enviadas:</h2>
            <ul>
                <li *ngFor="let mensagem of mensagens_enviadas" class="texto">
                    {{ mensagem.mensagem }}
                </li>
            </ul>
        </div>
    </div>


</div>