<header>
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="Logo do boliche Magic Bowling" id="img-logo">
    </div>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#">Magic Bowling</a>
        </div>
        <ul class="navbar-nav">
            <li><a routerLink="/fila">Fila</a></li>
            <li><a routerLink="/pistas">Pistas</a></li>
            <li><a routerLink="/usuarios">Usuários</a></li>
            <li><a routerLink="">Sair</a></li>
        </ul>
    </nav>
</header>