<body>
    <div class="container-formulario-login">
        <div class="formulario-login">
            <img src="../../../assets/images/logo.png" alt="Logo do boliche Magic Bowling" class="logo">
            <form action="">
                <label for="login" class="texto">Usuário </label>
                <br>
                <input type="email" id="login" placeholder="insira seu usuario" class="campoInput">
                <br>
                <br>
                <label for="senha" class="texto">Senha </label>
                <br>
                <input type="password" placeholder="Insira sua senha" class="campoInput">
                <br>
                <br>
                <button id="btn-login" routerLink="/fila">Login</button>
            </form>
        </div>

    </div>
</body>
