<app-cabecalho></app-cabecalho>
<div class="container">
    <h1>Editar usuario</h1>
    <div class="containerForm">
        <form action="">
            <label class="texto" for="nome_usuario">Nome</label>
            <br>
            <input class="campoInput" id="nome_usuario" type="text" placeholder="Insira o nome do usuario" [(ngModel)]="usuario.nome" name="usuarioNome">
            <br>
            <label class="texto" for="email">E-mail</label>
            <br>
            <input class="campoInput" id="email" type="email" placeholder="Insira o e-mail do usuario" [(ngModel)]="usuario.email" name="usuarioEmail">
            <br>
            <label class="texto" for="senha">Senha</label>
            <br>
            <input class="campoInput" id="senha" type="password" placeholder="Insira a senha do usuário" [(ngModel)]="usuario.senha" name="usuarioSenha">
            <div class="formButtons">
                <button class="botaoCancelar" routerLink="/usuarios">Cancelar</button>
                <button class="botaoSalvar" (click)="editarUsuario()" routerLink="/usuarios">Salvar</button>
            </div>
        </form>
    </div>
</div>